@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'IM Fell DW Pica', serif;
}

.conteiner{
    max-width: 1200px;
    margin:  0 auto;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),
    url(../perfil-1-intento-2/revistaeconomia-2022-12-02T142905.976.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}